server:
  port: 8080

logging:
  level:
    "org.springframework.web": DEBUG
    "org.hibernate.SQL": DEBUG
    "org.hibernate.orm.jdbc.bind": TRACE

spring:
  web:
    error:
      include-message: always
      include-binding-errors: always
      include-stacktrace: always

  application:
    name: slo-backend

  datasource:
    url: jdbc:postgresql://localhost:15432/slo
    username: slo
    password: slo
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always